# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4  # Changed from 2 to 4
tab_width = 4    # Added tab width to 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
indent_size = 4  # Ensuring TypeScript files have 4 spaces per indent
tab_width = 4
quote_type = single

[*.html]
indent_size = 4  # Ensuring HTML files have 4 spaces per indent
tab_width = 4

[*.md]
indent_size = 4  # Ensuring TypeScript files have 4 spaces per indent
tab_width = 4
max_line_length = off
trim_trailing_whitespace = false
