<div class="content">
    <div class="card">
        <div class="card-body mt-2">
            <!-- Create Form -->
            <form [formGroup]="cityForm" *ngIf="formAction === 'create' || formAction === 'edit' || formAction === 'view'"  (ngSubmit)="onSubmit()" method="post" enctype="multipart/form-data">
                <div class="header-lines">
                <div class="row mb-3">
                    <div class="col-md-6">
                    <h3><b>{{ formAction | capitalize }} City</b></h3>
                    </div>
                    <div class="col-md-6 text-right">
                    <button type="submit" name="save_btn" id="save_btn" title="Save & Continue" class="btn btn-primary btn-sm" [disabled]="!cityForm.valid || formSubmitted">Save</button>
                    <button type="submit" name="submit_btn" id="submit_btn" title="Submit" class="btn btn-primary btn-sm" [disabled]="!cityForm.valid || formSubmitted">Submit</button>
                    <a (click)="switchForm('default')" class="btn btn-default btn-sm">Close</a>
                    </div>
                </div>
                <fieldset>
                    <section class="header-section">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group text-right">
                                            <label class="col-form-label country_id"><span class="text-danger">*</span> Country Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <mat-select placeholder="- Select -" formControlName="country_id">
                                                <mat-option>- Select -</mat-option>
                                                <mat-option *ngFor="let country of countryOptions" [value]="country.country_id">
                                                {{ country.country_name }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group text-right">
                                            <label class="col-form-label state_id"><span class="text-danger">*</span> State Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <mat-select placeholder="- Select -" formControlName="state_id">
                                                <mat-option>- Select -</mat-option>
                                                <mat-option *ngFor="let state of stateOptions" [value]="state.state_id">
                                                {{ state.state_name }}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group text-right">
                                        <label class="col-form-label city_name"><span class="text-danger">*</span> City Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <input type="text" formControlName="city_name" id="city_name" autocomplete="off" class="form-control" placeholder="City Name">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                    </section>
                </fieldset>
                <div class="col-md-12 mt-3 pr-0 text-right">
                    <button type="submit" name="save_btn" id="save_btn" title="Save & Continue" class="btn btn-primary btn-sm" [disabled]="!cityForm.valid || formSubmitted">Save</button>
                    <button type="submit" name="submit_btn" id="submit_btn" title="Submit" class="btn btn-primary btn-sm" [disabled]="!cityForm.valid || formSubmitted">Submit</button>
                    <a (click)="switchForm('default')" class="btn btn-default btn-sm">Close</a>
                </div>
                </div>
            </form>

            <!-- Creation Block -->

            <!-- Conditional Header Block -->
            <div *ngIf="formAction === 'default'" class="row mb-2">
                <div class="col-md-6">
                    <h3><b>{{ page_title }}</b></h3>
                </div>
            <div class="col-md-6 text-right">
                <a href="#" data-toggle="modal" data-target="#importPatientCSV" title="Import" class="btn btn-outline-warning btn-sm">
                    <i class="icon-import"></i> Import
                </a>
                <button (click)="switchForm('create')" class="btn btn-info btn-sm mx-1">
                    Create City
                </button>
            </div>
        </div>

        <!-- Default Form -->
        <form [formGroup]="searchForm" *ngIf="formAction === 'default'" (ngSubmit)="searchCityRecords()">
            <section class="trans-section-back-1">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-form-label col-md-4 text-right">Country Name</label>
                        <div class="input-wrapper form-group col-md-7">
                            <mat-select placeholder="- Select -" formControlName="country_id">
                                <mat-option>- Select -</mat-option>
                                <mat-option *ngFor="let country of countryOptions" [value]="country.country_id">
                                {{ country.country_name }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-form-label col-md-4 text-right">State Name</label>
                        <div class="input-wrapper form-group col-md-7">
                            <mat-select placeholder="- Select -" formControlName="active_flag">
                                <mat-option>- Select -</mat-option>
                                <mat-option *ngFor="let state of stateOptions" [value]="state.state_id">
                                    {{ state.state_name }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-form-label col-md-4 text-right">City Name</label>
                        <div class="input-wrapper form-group col-md-7">
                            <mat-select placeholder="- Select -" formControlName="active_flag">
                                <mat-option>- Select -</mat-option>
                                <mat-option *ngFor="let city of cityOptions" [value]="city.city_id">
                                    {{ city.city_name }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-form-label col-md-4 text-right">Status</label>
                        <div class="input-wrapper form-group col-md-7">
                            <mat-select placeholder="- Select -" formControlName="active_flag">
                                <mat-option *ngFor="let activeFlag of activeFlagOptions" [value]="activeFlag.list_code">
                                    {{ activeFlag.list_value }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                    <a (click)="clearSearch()" title="Clear" class="btn btn-default" style="margin-left:5px;">Clear</a>
                </div>
            </div>
            </section>
        </form>

        <!-- Show results after clicking the search button -->
        <div class="new-scroller"  *ngIf="showResults && formAction === 'default'">
            <table id="myTable" class="table table-bordered table-hover tbl_height" *ngIf="cityRecords.length > 0; else noDataTemplate">
                <thead>
                    <tr>
                    <th class="text-center">Controls</th>
                    <th class="tab-md-140">Country Name</th>
                    <th class="tab-md-140">State Name</th>
                    <th class="tab-md-140">City Name</th>
                    <th class="tab-md-140 text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of cityRecords">
                    <td class="text-center" >
                        <div class="dropdown">
                            <button class="dropdown-btn" (click)="toggleDropdown(record.city_id)">Action</button>
                            <div *ngIf="dropdownOpen[record.city_id]" class="dropdown-content" [attr.id]="'myDropdown' + record.city_id">
                                <a [routerLink]="['/city/view']" [queryParams]="{ view_id: record.city_id }">
                                    <i class="fa fa-eye"></i> View
                                </a>
                                <a [routerLink]="['/city/edit']" [queryParams]="{ edit_id: record.city_id }">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                <span *ngIf="record.active_flag === 'Y'; else inactiveTemplate">
                                    <a (click)="updateCityStatus(record.city_id, 'N')" style="cursor: pointer;"><i class="fa fa-ban"></i> Inactive</a>
                                </span>
                                <ng-template #inactiveTemplate>
                                    <span title="Inactive">
                                        <a (click)="updateCityStatus(record.city_id, 'Y')" style="cursor: pointer;"><i class="fa fa-check"></i> Active</a>
                                    </span>
                                </ng-template>

                                <!-- <a [routerLink]="['/city/delete']" [queryParams]="{ delete: record.city_id }">
                                    <i class="fa fa-trash"></i> Delete
                                </a> -->
                            </div>
                        </div>
                    </td>
                    <td>{{ record.country_name }}</td>
                    <td>{{ record.state_name }}</td>
                    <td>{{ record.city_name}}</td>

                    <td class="text-center">
                        <span class="btn btn-outline-success" title="Active" *ngIf="record.active_flag === 'Y'; else inactiveTemplate">Active</span>
                        <ng-template #inactiveTemplate>
                          <span class="btn btn-outline-warning" title="Inactive">Inactive</span>
                        </ng-template>
                    </td>
                    </tr>
                </tbody>
            </table>

            <ng-template #noDataTemplate>
                <div class="text-center">
                    <img src="/assets/img/nodata.png">
                </div>
            </ng-template>
        </div>

    </div>
</div>
