/* You can add global styles to this file, and also import other style files */
.tbl_height{
    /* overflow: hidden; */
    min-height: 130px;
    /* z-index: 9000; */
}


/* Ensure the table row or cell has relative positioning */
tr, td {
    position: relative;
}


/* Dropdown button styling */
.dropdown-btn {
    background-color: transparent;
    color: #1598e1;
    border: 1px solid #1598e1;
    text-align: center;
    cursor: pointer;
    padding: 0.3125rem 0.75rem;
    font-size: .75rem;
    border-radius: 0.125rem;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-select {
    display: block;
    width: 100%;
    height: calc(1.5385em + .875rem + 2px);
    padding: .4375rem .875rem;
    /* font-size: .8125rem; */
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .1875rem;
    box-shadow: 0 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }


  .header-filters {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    bottom: 100%;
    left: 0;
    min-width: 180px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 8px 0;
    border-radius: 8px;
    z-index: 9999;
  }

  /* .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    min-height: 110px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    z-index: 9999;
    display: none;
  } */



  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }


/* .table-container {
    overflow: visible !important;
    position: relative;
    z-index: 1;
  } */
