<!-- Container Start -->
<div class="page-wrapper">
    <div class="main-content">
        <div class="row" style="padding-left: 60px;">

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-5">
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/department/default" class="setup_a_tag" title="Department">
                                <li>
                                    <i class="fa fa-globe fa-icon-text-blue-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">Department</span>
                                        <p class="p-0">Manage all Department</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/designation/default" class="setup_a_tag" title="Designation">
                                <li>
                                    <i class="fa fa-globe fa-icon-text-blue-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">Designation</span>
                                        <p class="p-0">Manage all Designation</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/location/country" class="setup_a_tag" title="Country">
                                <li>
                                    <i class="fa fa-globe fa-icon-text-blue-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">Country</span>
                                        <p class="p-0">Manage all Country</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/location/state" class="setup_a_tag" title="State">
                                <li>
                                    <i class="fa fa-compass fa-icon-text-green-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">State</span>
                                        <p class="p-0">Manage all State</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/location/city" class="setup_a_tag" title="City">
                                <li>
                                    <i class="fa fa-map-marker fa-icon-text-red-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">City</span>
                                        <p class="p-0">Manage all City</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/roles/default" class="setup_a_tag" title="Roles">
                                <li>
                                    <i class="fa fa-map-marker fa-icon-text-red-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">Roles</span>
                                        <p class="p-0">Manage all Roles</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 offset-1">
                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a [routerLink]="['/setups', 'lov']" class="setup_a_tag" title="LOV">
                                <li>
                                    <i class="fa fa-map-marker fa-icon-text-green-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">LOV</span>
                                        <p class="p-0">Manage all LOV</p>
                                    </div>
                                </li>
                            </a>
                        </ul>

                        <style>
                            *{
                                font-family: 'Times New Roman', Times, serif;
                            }
                            ul.settings-list li {
                                list-style: none;
                                padding: 7px 15px;
                                border-bottom: 1px solid #ddd;
                            }
                            ::after, ::before {
                                box-sizing: border-box;
                            }

                            li {
                                display: list-item;
                                text-align: -webkit-match-parent;
                                unicode-bidi: isolate;
                            }
                            .setup_a_tag {
                                color: #2196f3 !important;
                                text-decoration: none;
                                background-color: transparent;
                                font-size: 12px;
                                font-weight: 500;
                            }

                            .setup_a_tag:-webkit-any-link {
                                color: -webkit-link;
                                cursor: pointer;
                            }

                            ul {
                                list-style-type: disc;
                            }

                            .fa {
                                display: inline-block;
                                width: 40px; /* Adjust as needed */
                                height: 40px; /* Adjust as needed */

                                border-radius: 70%; /* Rounded shape */
                                text-align: center;
                                line-height: 40px; /* Center the icon vertically */
                                font-size: 14px; /* Adjust the icon size */
                                color: white; /* Icon color */
                                margin-right: 10px; /* Adjust as needed to add space between the icon and text */
                            }

                            .list-text {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            ul.settings-list li p {
                                font-size: 12px;
                                /*padding-left: 60px;*/
                                color: #8b8b8b !important;
                                position: relative;
                                top: -4px;
                            }
                        </style>


                    </div>

                </div>

                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/document_numbering" class="setup_a_tag" title="Document Numbering">
                                <li>
                                    <i class="fa fa-arrows fa-icon-text-blue-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">Document Numbering</span>
                                        <p class="p-0">Manage all Document Numbering</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="card-header pb-0">
                        <ul class="settings-list">
                            <a href="/blood_group/default" class="setup_a_tag" title="Blood Group">
                                <li>
                                    <i class="fa fa-arrows fa-icon-text-blue-background"></i>
                                    <div class="list-text px-0">
                                        <span class="list-one">Blood Group</span>
                                        <p class="p-0">Manage all Blood Group</p>
                                    </div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="ad-footer-btm">
            <p>Copyright 2022 © SplashDash All Rights Reserved.</p>
        </div>
    </div>
</div>
<!-- Preview Setting Box -->
